.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: #07182e;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: white;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #a2d2ff;
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card h1 {
  font-size: 1rem;
  margin: 0;
}
