.container {
  width: 100%;
  min-height: auto;
  padding: 24px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h1 {
  font-size: 2rem;
  margin: 0;
}

.Main {
  width: 100%;
  min-height: auto;
  margin-top: 24px;
}
